<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/edituser/<%= data.id %>?_method=PUT" method="POST">
        <!-- <input type="text" name="firstName" value="<%= data.firstName %>">
        <input type="text" name="lastName" value="<%= data.lastName %>"> -->
        <input type="text" name="email" value="<%= data.email %>">
        <button>gui</button>
    </form>
</body>
</html>