<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% for(let i in data) { %>

        <p><%= data[i].name %></p>
        <p><%= data[i].email %></p>
    
        <!-- <a href="/edituser/<%= data[i].id %>">edituser</a>
        <form action="/deleteuser/<%= data[i].id%>?_method=DELETE" method="POST">
             <button>delete</button>
        </form> -->
      
   <% } %>
    
    <a href="/createuser">createuser</a>
</body>
</html>